@model CustomerDisplayModel
@{
}
<div class="my-2">
    <form asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
            <label class="visually-hidden" for="sterm">Search by City</label>
            <div class="input-group">
                <div class="input-group-text"></div>
                <input type="text" class="form-control" value="@Model.CityName" id="cityName" name="cityName" placeholder="Search by City">
            </div>
        </div>
        <div class="col-12">
            <label class="visually-hidden" for="sterm">Search by Name</label>
            <div class="input-group">
                <div class="input-group-text"></div>
                <input type="text" class="form-control" value="@Model.STerm" id="sterm" name="sterm" placeholder="Search by Name">
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/Customer/Index" class="btn btn-dark">Reset</a>
            <a asp-controller="Customer" asp-action="Add" class="btn btn-primary">Add</a>
        </div>
    </form>
</div>
<div class="w-100 d-flex flex-wrap">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Country</th>
                <th scope="col">City</th>
                <th scope="col">Address</th>
                <th scope="col">Director</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
            <tr>
                <td scope="row">@customer.Name</td>
                <td>@customer.Country</td>
                <td>@customer.City</td>
                <td>@customer.Address</td>
                <td>@customer.Director</td>
                <td><a type="button" asp-controller="Customer" asp-action="Details" asp-route-id="@customer.Id" class="btn btn-primary">See Details</a></td>
                <td><a type="button" asp-controller="Customer" asp-action="Update" asp-route-id="@customer.Id" class="btn btn-primary">Edit</a></td>
                <td><a type="button" asp-controller="Customer" asp-action="Delete" asp-route-id="@customer.Id" class="btn btn-primary">Delete</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>
